@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core @{
    ViewData[""] = "Home Page";
}</a>.</p>
</div>

<a class="btn btn-primary" asp-page="/Account/Login">Logga in</a>
<a class="btn btn-outline-primary" asp-page="/Account/Register">Skapa konto</a>

